body{
  width:100vw;
  height:100vh;
  background-color: #7f570e;
  padding:1.5em;
}
.header{
  text-align: center;
}
h1{
  font-size: 3.2em;
  color:rgb(212, 243, 225);
  text-shadow: 0 0 1em rgb(255, 255, 255);
  margin:1em;
}
input{
  transform: scale(2);
  border-color: blanchedalmond;
  margin-bottom:5em;
}
::placeholder{
  font-size: small;
}