
body{
    background-color: #deffc8;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.new-item-form{
    background-color: #89f469;
    margin:1.8em;
    padding: .5em;
    text-align: center;
}
.form-row{
    display:flex;
    flex-direction: column;
    gap:1em;
    padding:1em;
}
li{
    list-style-type: none;
}
li *{
    margin-right: 5px;
}
.btn-close{
    scale:0.8;
}